body {
    background: linear-gradient(135deg, #5aaecb, #68a9df);
    background-attachment: fixed;
}

#entry-page {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 60px;
    border-radius: 25px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    width: 35%;
}

h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: #2c3e50;
}

label {
    font-weight: 700;
    color: #2c3e50;
}

input.form-control {
    border: 1px solid #2c3e50;
    border-radius: 12px;
}

.btn-primary {
    background-color: #2c3e50;
    border-color: #2c3e50;
    font-size: 1.2em;
    padding: 12px 25px;
}

.dolphin-icon {
    font-size: 2em;
}